<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campusactivity.core.community.mapper.CommunityinformationMapper">



    <select id="pageCommunityinfo" resultType="com.campusactivity.core.community.dto.CIDTO">
    select
    ci.id,
    ci.CommunityName as community_name,
    ci.type as type,
    su.username as originator,
    ci.Purpose as purpose,
    ci.ContactsNumber as contacts_number,
    ci.CreateDate as create_date,
    ci.UpdateDate as update_date
    from communityinformation ci
    left join sys_user su on ci.Originator = su.id
    <if test="ew != null and ew.sqlSegment != null">
        where ${ew.sqlSegment}
    </if>

    </select>
</mapper>
